/*Police*/

@font-face
{
    font-family: 'Raleway';
    src: url('../police/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
}

@font-face
{
    font-family: 'Raleway-bold';
    src: url('../police/Raleway-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    font-size: 1em;
}

@font-face
{
    font-family: 'Raleway-bolder';
    src: url('../police/Raleway-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
}

/*Stars*/

    /*Locations*/

    .fas.fa-star.blue, .fas.fa-star.gray
    {
        color:#0065FC;
        font-size: 0.85em;
    }

    /*Most popular*/

    .fas.fa-star.blue2, .fas.fa-star.gray2
    {
        color:#0065FC;
        font-size: 0.85em;
        margin-top: 45px;
    }

/*Links*/

    /*Navigation*/

    a[title="Cliquez ici pour découvrir les hébergements"], a[title="Cliquez ici pour découvrir les activités"]
    {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        color: black;
        padding: 50px;
        font-size: 0.9em;
    }

    a[title="Cliquez ici pour découvrir les hébergements"]:hover, a[title="Cliquez ici pour découvrir les activités"]:hover
    {
        border-top: solid 5px #0065FC;
        color: #0065FC;
        transition: .3s;
    }

    /*Sign up button*/

    a[title="Inscrivez-vous"]
    {
        position: absolute;
        margin: 35px 0 0 -100px;
        width: 100%;
        color: #0065FC;
        font-family: 'Raleway-bolder', sans-serif;
        text-decoration: none;
        text-align: right;
    }

    a[title="Inscrivez-vous"]:hover
    {
        font-size: 1em;
        transition: .3s;
    }

    /*Filters*/

    ul li b
    {
        font-family: 'Raleway-bold', sans-serif;
    }

    a[title="Filtrez votre recherche"]
    {
        color: black;
        font-family: 'Raleway-bold', sans-serif;
        text-decoration: none;
        border-top: solid 3px #dadada;
        border-right: solid 3px #dadada;
        border-bottom: solid 3px #dadada;
        border-radius: 25px;
        padding: 12px 18px 12px 0;
    }

    a[title="Filtrez votre recherche"]:hover
    {
        background-color: #DEEBFF;
        border: #DEEBFF;
        transition: .3s;
    }

    /*Vignettes in sections*/

        /*Locations*/

        a[title="Découvrez le logement"]
        {
            color: black;
            text-decoration: none;
            width: 230px;
            height: 200px;
            margin: 15px;
            background-color: white;
            border: solid white 5px;
            border-radius: 20px;
            box-shadow: 6px 6px 12px #dadada, -6px 6px 12px #dadada;
        }

        a[title="Découvrez le logement"]:hover
        {
            background-color: #DEEBFF;
            border-color: #DEEBFF;
            transition: .3s;
        }

        /*'Afficher plus' button*/

        a[title="Partez à la découverte de nos hébergements"]
        {
            color: black;
            text-decoration: none;
            font-family: 'Raleway-bolder', sans-serif;
            margin-left: 20px;
            font-size: 1em;
        }

        a[title="Partez à la découverte de nos hébergements"]:hover
        {
            font-size: 1.1em;
        }

        /*Most popular*/

        a[title="Découvrez le lieu"]
        {
            color: black;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            min-width: 340px;
            min-height: 145px;
            margin: auto;
            margin-top: 25px;
            background-color: white;
            border: solid white 5px;
            border-radius: 20px;
            box-shadow: 6px 6px 12px #dadada, -6px 6px 12px #dadada;
        }

        a[title="Découvrez le lieu"]:hover
        {
            background-color: #DEEBFF;
            border-color: #DEEBFF;
            transition: .3s;
        }

        /*Activities*/

        a[title="Découvrez l'activité"]
        {
            color: black;
            text-decoration: none;
        }

    /*Footer*/

    a[title="En savoir plus"]
    {
        color: black;
        text-decoration: none;
    }

    a[title="En savoir plus"]:hover
    {
        font-family: 'Raleway-bold', sans-serif;
        transition: .3s;
    }

/*General formating*/

.invisible
{
    display: none;
}

body
{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin: auto;
    max-width: 1950px;
}

h1
{
    font-family: 'Raleway-bolder', sans-serif;
    font-size: 1.4em;
    margin-bottom: 0;
}

h2
{
    font-family: 'Raleway-bolder', sans-serif;
    margin: 20px 0 10px 0;
}

h3
{
    font-family: 'Raleway-bolder', sans-serif;
    margin-bottom: 5px;
}

b
{
    font-family: 'Raleway-bolder', sans-serif;
}

p
{
    font-size: 1em;
    line-height: 20px;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 20px 0 20px 0;
}

li
{
    padding: 0 25px 0 0;
    font-size: 1.2em;
}

/*Body*/

/*header*/

header
{
    margin: 22px 0 55px 55px;
}

.header /*Logo + nav + subscribe button*/
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.logo
{
    position: absolute;
    margin-top: 20px;
}

nav
{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
}

nav ul
{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 50%)) 1fr;
}

nav ul li
{
    width: 200px;
    padding: 0;
}

.header-main /*From h1 to information*/
{
    line-height: 80px;
}

h1 + p /*'En plein centre ville ou en pleine nature'*/
{
    margin-top: -20px;
}

    /*Form*/

    .fas.fa-map-marker-alt /*Localisation incon*/
    {
        position: relative;
        border: solid 2px #F2F2F2;
        border-radius: 20px 0 0 20px;
        background-color: #F2F2F2;
        padding: 16px 20px 17px 20px;
        font-size: 1.2em;
        z-index: 2;
    }

    .custom-home-search input /*Search field*/
    {
        position : relative;
        padding: 18px 35px 15px 35px;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        font-size: 1em;
        font-family: 'Raleway-bold', sans-serif;
        border-right: none;
        border-left: none;
        margin-left: -20px;
        margin-right: -20px;
        z-index: 1;
    }

    /*Search button*/

    .custom-home-search input[id="rechercher"]
    {
       position: relative;
       background: #0065FC;
       border: 2px solid #0065FC;
       color: white;
       font-family: 'Raleway-bold', sans-serif;
       font-size: 1em;
       padding: 18px 20px 15px 20px;
       border-radius: 0 10px 10px 0;
       z-index: 2;
    }

    .custom-home-search input[id="rechercher"]:hover
    {
       background: #DEEBFF;
       border: solid 2px #DEEBFF;
       color: black;
       transition: .3s;
    }

    .custom-home-search button[name="loupe"] /*Will be displayed only in Media Querries*/
    {
        display: none;
    }

    /*Filter Icons*/

    .fas.fa-money-bill-wave, .fas.fa-heart, .fas.fa-dog
    {
        border: solid 3px #DEEBFF;
        border-radius: 25px;
        padding: 13px;
        margin-right: 9px;
        color: #0065FC;
        background-color: #DEEBFF;
        font-size: 1.1em;
    }

    .fas.fa-child
    {
        border: solid 3px #DEEBFF;
        border-radius: 25px;
        padding: 13px 15px 13px 15px; 
        margin-right: 9px;
        color: #0065FC;
        background-color: #DEEBFF;
        font-size: 1.1em;
    }

    .fas.fa-info
    {
        color: #0065FC;
        margin-right: 10px;
        padding: 4px 8px 4px 8px;
        border: solid 1px #dadada;
        border-radius: 25px;
        font-size: 0.8em;
        float: left;
    }

    .fas.fa-chart-line
    {
        font-size: 1.5em;
    }

/*Main*/

main /*Sections 1 and 2*/
{
    margin: 55px;
}

figure
{
    width: 100%;
    height: 100%;
    margin: 13px 0 0 0;
}

figcaption
{
    font-size: 0.9em;
    padding-top: 8px;
    line-height: 23px;
    margin: 0 10px 10px 10px;
}

/*Section 1*/

.section1 /*First <section> tag*/
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

article h2, aside h2 /*More margin for titles in section 1*/
{
    margin-left: 20px;
}

    /*Article - 'Hébergements'*/

    article
    {
        max-width: 62%;
        padding: 30px 30px 30px 30px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    .hab-conteneur /*Container for articles's vignettes*/
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 30px;
    }

    .pic
    {
        width: 100%;
        height: 110px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        margin-top:-13px;
    }

    .strong1 /*Location's name*/
    {
        font-family: 'Raleway-bolder', sans-serif;
        font-size: 1.1em;
    }

    /*Aside - Les plus populaires*/

    aside
    {
        width: 30%;
        min-width: 400px;
        padding-top: 30px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    .aside-title-container /*'Les plus populaires' + icon*/
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 0 20px;
    }

    .pop-container /*flex container for the 3 vignettes*/
    {
        display: flex;
        flex-wrap: wrap;
    }

    .pic2
    {
        width: 130px;
        height: 145px;
        border-radius: 20px 0 0 20px ;
        overflow: hidden;
        object-fit: cover;
        margin-top: -12px;
        margin-right: 20px;
        float: left;
    }

    figcaption[class="text"]
    {
        margin-top: -15px;
    }

    .strong2 /*Location's name*/
    {
        font-family: 'Raleway-bolder', sans-serif;
        font-size: 1.2em;
    }

/*Section 2*/

#act-ancre /*Section 2 h2*/
{
    margin: 30px 0 20px 0;
}

.section2 /*Second <section> tag minus h2*/
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    /*Columns*/

    .col12, .col34 /*Flex container for columns*/
    {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column2, .column4 /*Flex container for columns 2 and 4*/
    {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        align-items: stretch;
    }

    /*Activities vignettes*/

    .p-act /*Figcation for activities*/
    {
        padding-left: 20px;
        font-family: 'Raleway-bolder', sans-serif;
        font-size: 1em;
    }

        /*Vignettes*/

        .column1, .column3
        {
            width: 300px;
            border-radius: 20px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 6px 6px 12px #F2F2F2, -6px 6px 12px #F2F2F2;
        }

        .act2, .act5
        {
            width: 300px;
            border-radius: 20px;
            margin-top: 10px;
            margin-bottom: 25px;
            box-shadow: 6px 6px 12px #F2F2F2, -6px 6px 12px #F2F2F2;
        }

        .act3, .act6
        {
            width: 300px;
            border-radius: 20px;
            margin-top: 25px;
            margin-bottom: 10px;
            box-shadow: 6px 6px 12px #F2F2F2, -6px 6px 12px #F2F2F2;
        }

        .column1:hover, .act2:hover, .act3:hover, .column3:hover, .act5:hover, .act6:hover
        {
            transform: scale(1.05);
            transition: .3s;
        }

        /*Pictres*/

        .pic3, .pic6
        {
            width: 300px;
            height: 385px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            margin-top:-13px;
        }

        .pic4, .pic7
        {
            width: 300px;
            height: 180px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            margin-top:-13px;
        }

        .pic5, .pic8
        {
            width: 300px;
            height: 110px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            margin-top:-13px;
        }

/*Footer*/

footer
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}

footer ul
{
    width: 25%;
    list-style-type: none;
    display:list-item;
    margin-left: 80px;
    font-size: 0.85em;
    padding-bottom: 20px;
}

footer li
{
    padding-top: 10px;
}

/*Media Queries*/

@media all and (max-width: 1400px)
{
    main
    {
        margin: 20px;
    }

    /*Section 2*/

    .section2
    {
        margin-bottom: 40px;
    }

    .col12, .col34
    {
        width: 49.5%;
    }

    
}

@media all and (max-width: 1250px)

{

    /*Article*/

    article
    {
        min-width: 95%;
        margin: auto;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    a[title="Découvrez le logement"]
    {
        width: 340px;
        margin: auto;
        margin-top: 15px;
    }

    /*Aside*/

    aside
    {
        min-width: 100%;
        margin: auto;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    a[title="Découvrez le lieu"]
    {
        margin: auto;
        margin-top: 15px;
    }

    /*Section 2*/

    #act-ancre
    {
        padding-left: 40px;
    }

    .col12, .col34
    {
        margin: auto;
        justify-content: center;
    }

    .column1, .column3
    {
        margin-bottom: 40px;
    }
}

@media all and (max-width: 900px)
{

    /*Section 2*/

    #act-ancre
    {
        padding-left: 40px;
        margin-top: 0;
    }

    .pic-text
    {
        font-size: 1em;
    }

    .col12, .col34
    {
        width: 100%;
        margin: auto;
    }

    .column1, .column3
    {
        width: 350px;
        margin: auto;
        margin-bottom: 20px;
    }

    .column2, .column4
    {
        width: 350px;
        margin: auto;
    }

    .act1, .act4
    {
        height: 175px;
        width: 350px;
        margin: auto;
    }

    .act2, .act3, .act5, .act6
    {
        height: 175px;
        width: 350px;
        margin: auto;
        margin-bottom: 20px;
    }

    .pic3, .pic4, .pic5, .pic6, .pic7, .pic8
    {
        height: 135px;
        width: 350px;
    }

}

@media all and (max-width: 750px)
{

    /*General formating*/

    body, main
    {
        width: 100%;
        margin: 0;
    }

    /*Header*/

    header
    {
        margin: 10px;
    }

    .header-main
    {
        line-height: 60px;
    }

    .logo
    {
        margin-left: 10px;
    }

    /*Navigation*/

    nav
    {
        margin-top: 80px;
        padding: 0;
    }

    a[title="Inscrivez-vous"]
    {
        position: absolute;
        margin: 40px 0 0 -20px;
    }

    a[title="Cliquez ici pour découvrir les hébergements"]
    {
        grid-column: 1;
        width: 50%;
        border-bottom: solid 3px #dadada;
        padding-bottom: 20px;
        margin-left: 30px;
    }

    a[title="Cliquez ici pour découvrir les activités"]
    {
        grid-column: 2;
        width: 50%;
        border-bottom: solid 3px #dadada;
        padding-bottom: 20px;
        margin-left: 40px;
    }

    a[title="Cliquez ici pour découvrir les hébergements"]:hover, a[title="Cliquez ici pour découvrir les activités"]:hover
    {
        border-top: none;
        border-bottom: solid 3px #0065FC;
        color: #0065FC;
        text-align: center;
        transition: .3s;
    }

    /*Title*/

    h1
    {
        margin-top: 40px;
        margin-bottom: 30px;
        font-family: 'Raleway-bold', sans-serif;
        font-size: 1.45em;
        line-height: 30px;
    }

    h1 + p
    {
        font-size: 1.05em;
    }

    /*Barre de recherche*/

    .custom-home-search button[name="loupe"]
    {
        position: relative;
        display: inline;
        background: #0065FC;
        border: 2px solid #0065FC;
        color: white;
        font-family: 'Raleway-bold', sans-serif;
        font-size: 1em;
        padding: 17px 17px 14px 17px;
        border-radius: 15px;
        z-index: 2;
    }

    .custom-home-search button[name="loupe"]:hover
    {
        background: #DEEBFF;
        border: solid 2px #DEEBFF;
        color: black;
        transition: .3s;
    }

    .custom-home-search input[id="rechercher"]
    {
        display: none;
    }

    /*Filters*/

    ul li b
    {
        font-size: 0.8em;
    }

    .ft
    {
        font-size: 1.1em;
        padding-right: 150px;
    }

    a[title="Filtrez votre recherche"]
    {
        padding: 10px 15px 10px 0;
        margin: 0;
    }

        /*Filter Icons*/

        .fas.fa-money-bill-wave, .fas.fa-heart, .fas.fa-dog
        {
            border: solid 3px #DEEBFF;
            border-radius: 25px;
            padding: 12px;
            color: #0065FC;
            background-color: #DEEBFF;
            font-size: 0.9em;
        }

        .fas.fa-child
        {
            border: solid 3px #DEEBFF;
            border-radius: 25px;
            padding: 12px 15px 12px 15px;
            color: #0065FC;
            background-color: #DEEBFF;
            font-size: 0.9em;
        }

    /*Main*/

    article h2, aside h2 /*More margin for titles in section 1*/
    {
        margin-left: 0;
    }

        /*Section 1*/

        #hab-ancre
        {
            margin-top: 50px;
            margin-bottom: 30px;
            margin-left: 10px;
            padding: 0;
        }

        article /*Hébergements*/
        {
            width: 100%;
            background-color: white;
            margin: auto;
            padding: 0;
        }

        a[title="Découvrez le logement"]
        {
            width: 370px;
            font-size: 0.95em;
            margin: auto;
            margin-bottom: 20px;
        }

        aside /*Most popular*/
        {
            width: 100%;
            border-radius: 0;
            margin: auto;
            margin-top: 20px;
        }

    /*Section 2*/

    #act-ancre
    {
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 20px;
        padding: 0;
    }

    /*Footer*/

    footer ul
    {
        width: 100%;
        height: 80px;
        text-align: left;
    }

    #assistance
    {
        margin: 0;
    }

}