/*header*/

header
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.logo
{
    width: 66%;
}

nav
{
    position: absolute;
    width: 34%;
    display: flex;
    justify-content: space-around;
    margin-left: 66%;
}

ul
{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

li
{
    padding-left: 25px;
}

.header-main
{
    position: absolute;S
    width: 100%;
}

/*Section 1*/

/*Hébergements*/

#hab-conteneur
{
  display: flex;
  flex-wrap: wrap;
  width: 61%;
}

.hab1
{
    width: 25%;
    margin: 15px;
}

.pic
{
    width: 100%;
	height: 110px;
    overflow: hidden;
    object-fit: cover;
}