/*header*/

header
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.logo
{
    width: 66%;
}

nav
{
    width: 34%;
    display: flex;
    justify-content: space-around;
    margin-left: 66%;
    position: absolute;
}

ul
{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

li
{
    padding-right: 25px;
}

.header-main
{
    width: 100%;
}

/*Section 1*/

.section1
{
    display: flex;
    flex-wrap: wrap;
}

/*Hébergements*/

.article
{
    width: 61%;
}

.hab-conteneur
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hab1
{
    width: 25%;
    margin: 15px;
}

.pic
{
    width: 100%;
	height: 110px;
    overflow: hidden;
    object-fit: cover;
}

/*Les plus populaires*/

.aside
{
    width: 29%;
}

.aside-title-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop1
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 340px;
    height: 145px;
    margin: 20px;
}

.pic2
{
    width: 130px;
	height: 135px;
    overflow: hidden;
    object-fit: cover;
}

/*Section 2*/

.section2
{
    width: 100%;
    height: 615px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.act1
{
    width: 18%;
    height: 445px;
}

.pic3
{
    width: 100%;
    height: 385px;
    overflow: hidden;
    object-fit: cover;
}

.act2
{
    width: 18%;
    height: 240px;
}

.pic4
{
    width: 100%;
    height: 180px;
    overflow: hidden;
    object-fit: cover;
}

.act3
{
    width: 18%;
    height: 165px;
}

.pic5
{
    width: 100%;
    height: 110px;
    overflow: hidden;
    object-fit: cover;
}