/*header*/

header
{
    height: 425px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

nav
{
    position: absolute
    width: 34%;
    display: flex;
    justify-content: space-around;
    margin-left: 66%;
    padding: 0;
}

ul
{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

li
{
    padding-left: 25px;
}

.header-main
{
    position: absolute;S
    width: 100%;
}